<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.athletify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Athletify"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.allenamento.wkWeekActivity"
            android:exported="true" />

        <activity
            android:name=".ui.allenamento.workout_detail"
            android:exported="true" />

        <activity
            android:name=".ui.allenamento.wkDayActivity"
            android:exported="true" />

        <activity
            android:name=".ui.autenticazione.WelcomeActivity"
            android:noHistory="true" />

        <activity
            android:name=".ui.statistiche.ProfiloActivity">
        </activity>

        <activity
            android:name=".ui.alimentazione.SuggerimentiActivity">
        </activity>

        <activity
            android:name=".ui.LaunchScreenActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.MainActivity"/>

    </application>

</manifest>